<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
    <%= 
      form_for :session, routes.sessions_path do
        div(class: 'form-group') do
          label :username
          text_field :username, class: 'form-control', placeholder: 'Type your username', required: true
        end

        div(class: 'form-group') do
          label :password
          password_field :password, class: 'form-control', placeholder: 'Type your password', required: true
        end

        submit 'Sign in', class: 'btn btn-primary'
      end 
    %>
  </div>
</div>
