<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
    <%= 
      form_for :registration, routes.registrations_path do
        div(class: 'form-group') do
          label :username
          text_field :username, class: 'form-control', placeholder: 'Type your username', required: true
        end

        div(class: 'form-group') do
          label :email
          email_field :email, class: 'form-control', placeholder: 'Type your valid email', required: true
        end

        div(class: 'form-group') do
          label :password
          password_field :password, class: 'form-control', placeholder: 'Type your password', required: true
        end

        div(class: 'form-group') do
          label :password_confirmation
          password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm you password', required: true
        end

        submit 'Register', class: 'btn btn-primary'
      end 
    %>
  </div>
</div>
